<div class="container-clients">
  <div class="options">
    <button type="button" class="btn btn-primary" (click)="open(content)">
      <i class="bi bi-file-plus"></i>
      New
    </button>
    <button
      type="button"
      class="btn btn-primary m-3"
      data-bs-toggle="modal"
      data-bs-target="#export"
      (click)="getAllClients()"
    >
      <i class="bi bi-file-arrow-down"></i>
      Export
    </button>

    <!-- input de busqueda por Shared key -->

    <div class="input-group">
      <input
        #sharedKey
        type="text"
        class="form-control"
        placeholder="Enter share Key"
        aria-label="Enter share Key"
        aria-describedby="button-addon2"
        id="sharedKey"
        [ngModel]="sharedKey.value"
        onkeydown="return /[a-zA-Z0-9]/i.test(event.key)"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon2"
        (click)="findBySharedKey(sharedKey.value)"
        [disabled]="sharedKey.value === ''"
      >
        Search
      </button>
    </div>
    <br />
  </div>
  <!-- modal nuevo cliente -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Client</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="clientForm" (ngSubmit)="save()">
        <div class="mb-3">
          <label for="">nombre</label
          ><input type="text" class="form-control" formControlName="name" />
          <div
            *ngIf="
              clientForm.controls['name'].invalid &&
              (clientForm.controls['name'].dirty ||
                clientForm.controls['name'].touched)
            "
            class="alert alert-danger"
          >
            Nombre es invalido. El campo no tiene el formato necesario, asegure
            nombre sin caracteres especiales, espacios al inicio y numeros.
          </div>

          <label for="">phone</label
          ><input
            type="text"
            formControlName="phone"
            class="form-control"
            id=""
          />

          <label for="">email</label
          ><input
            type="text"
            formControlName="email"
            class="form-control"
            id=""
          />
          <br />
          <div
            *ngIf="
              clientForm.controls['email'].invalid &&
              (clientForm.controls['email'].dirty ||
                clientForm.controls['email'].touched)
            "
            class="alert alert-danger"
          >
            email invalido
          </div>

          <label for="startDate">start date</label
          ><input
            type="date"
            formControlName="startDate"
            class="form-control"
            id=""
          />
          <label for="">end date</label
          ><input
            type="date"
            formControlName="endDate"
            class="form-control"
            id=""
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="clientForm.invalid"
        (click)="modal.close(save())"
      >
        Save
      </button>
    </div>
  </ng-template>

  <!-- Tabla de clientes -->
  <h2>{{ titleTable }}</h2>

  <div class="alert alert-info" role="alert" *ngIf="clients?.length == 0">
    {{ mensajeBusqueda }}
  </div>

  <table
    class="table table-responsive table-bordered"
    *ngIf="clients.length != 0"
  >
    <thead>
      <tr>
        <th scope="col">Shared Key</th>
        <th scope="col">Business ID</th>
        <th scope="col">E-mail</th>
        <th scope="col">Phone</th>
        <th scope="col">Data Added</th>
        <th scope="col"><i class="bi bi-pen-fill"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.sharedKey | lowercase }}</td>
        <td>{{ client.name | lowercase }}</td>
        <td>{{ client.email | lowercase }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.dataAdded | date: "dd/MM/YYYY" }}</td>
        <td>
          <a href="" data-bs-target="#new" data-bs-toggle="modal">
            <i class="bi bi-pen-fill"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
